.github/CODEOWNERS

libdd-alloc/                @Datadog/libdatadog-profiling
libdd-crashtracker*/        @Datadog/libdatadog-profiling
libdd-profiling*/           @Datadog/libdatadog-profiling
libdd-telemetry*/           @Datadog/apm-common-components-core
ruby/                       @Datadog/libdatadog-ruby
Cargo.*                     @Datadog/libdatadog
.github/                    @Datadog/apm-common-components-core
.gitignore                  @Datadog/libdatadog
.gitlab-ci.yml              @Datadog/libdatadog
LICENSE*                    @Datadog/libdatadog
NOTICE                      @Datadog/libdatadog
rustfmt.toml                @Datadog/libdatadog
README.md                   @Datadog/libdatadog
libdd-trace-normalization   @Datadog/serverless @Datadog/libdatadog-apm
datadog-trace-obfuscation   @Datadog/serverless @Datadog/libdatadog-apm
libdd-trace-protobuf        @Datadog/serverless @Datadog/libdatadog-apm
libdd-trace-utils           @Datadog/serverless @Datadog/libdatadog-apm
datadog-remote-config       @Datadog/libdatadog-php @Datadog/libdatadog-apm @Datadog/remote-config
datadog-sidecar             @Datadog/libdatadog-php @Datadog/libdatadog-apm
datadog-sidecar-ffi         @Datadog/libdatadog-php @Datadog/libdatadog-apm
libdd-data-pipeline*/       @Datadog/libdatadog-apm
datadog-tracer-flare        @Datadog/libdatadog-apm
libdd-ddsketch*/            @Datadog/libdatadog-apm @Datadog/apm-common-components-core
datadog-ffe                 @Datadog/feature-flagging-and-experimentation-sdk
datadog-ffe-ffi             @Datadog/feature-flagging-and-experimentation-sdk
libdd-common*/              @Datadog/libdatadog
builder                     @Datadog/apm-common-components-core
libdd-log*/                 @Datadog/apm-common-components-core
libdd-trace-stats           @Datadog/apm-common-components-core
libdd-tinybytes             @Datadog/apm-common-components-core
docs                        @Datadog/libdatadog
examples                    @Datadog/libdatadog
repository.datadog.yml      @Datadog/apm-common-components-core
.codecov.yml                @Datadog/apm-common-components-core
.config/nextest.toml        @Datadog/apm-common-components-core
.devcontainer               @Datadog/apm-common-components-core
datadog-sidecar-macros      @Datadog/libdatadog-php
datadog-ipc                 @Datadog/libdatadog-php
datadog-profiling-replayer  @Datadog/libdatadog-profiling
symbolizer-ffi              @Datadog/libdatadog-profiling
tools/sidecar_mockgen       @Datadog/libdatadog-php


# Most of the bin_tests are owned by the profiling team, but some are owned by the core team
bin_tests/                          @Datadog/libdatadog-profiling
bin_tests/tests/test_the_tests.rs   @Datadog/libdatadog-core
bin_tests/src/bin/test_the_tests.rs @Datadog/libdatadog-core
