#==============================================================================#
# Directories to ignore (do not add trailing '/'s, they skip symlinks).
#==============================================================================#
.cache
.ccls-cache
.docker-sync
.idea
.vs
.vscode
build/
cmake-build-debug
deliverables
docker-linux-target
release
target
tmp
__fuzz__

#==============================================================================#
# Files to ignore
#==============================================================================#
.DS_Store
.env
Cargo.lock # this is ignored so you don't update by accident, but is committed.
docker-sync.yml
libtest.so
libtest_cpp.so
examples/cxx/crashinfo
examples/cxx/owned_sample
