[package]
edition = "2021"
license = "Apache 2.0"
name = "datadog-sidecar"
version = "0.0.1"

[lib]
bench = false

[features]
default = ["tracing"]
tracing = ["tracing/std", "tracing-log", "tracing-subscriber"]
tokio-console = ["tokio/full", "tokio/tracing", "console-subscriber"]

[dependencies]
anyhow = { version = "1.0" }
arrayref = "0.3.7"
bytes = "1.4"
priority-queue = "1.3.2"
ddcommon = { path = "../ddcommon" }
datadog-sidecar-macros = { path = "macros" }

ddtelemetry = { path = "../ddtelemetry", features = ["tracing"] }
datadog-trace-protobuf = { path = "../trace-protobuf" }
datadog-trace-utils = { path = "../trace-utils" }
datadog-trace-normalization = { path = "../trace-normalization" }
datadog-remote-config = { path = "../remote-config" }
datadog-crashtracker = { path = "../crashtracker" }
tinybytes =  { path = "../tinybytes" }

futures = { version = "0.3", default-features = false }
manual_future = "0.1.1"
http = "0.2"
hyper = { version = "0.14", features = ["client"], default-features = false }
lazy_static = "1.4"
pin-project = "1"

datadog-ipc = { path = "../ipc" }
datadog-ipc-macros = { path = "../ipc/macros" }

rand = "0.8.3"
regex = { version = "1" }
serde = { version = "1.0", features = ["derive", "rc"] }
serde_with = "3.6.0"
bincode = { version = "1.3.3" }
serde_json = "1.0"
rmp-serde = "1.1.1"
base64 = "0.21.0"
spawn_worker = { path = "../spawn_worker" }
zwohash = "0.1.2"
sha2 = "0.10"
sys-info = { version = "0.9.0" }
tokio = { version = "1.35.1", features = [
    "fs",
    "sync",
    "io-util",
    "signal",
    "rt-multi-thread",
] }
tokio-util = { version = "0.7", features = ["codec"] }

prctl = "1.0.0"
io-lifetimes = { version = "1.0" }
tracing = { version = "0.1", default-features = false }
tracing-log = { version = "0.2.0", optional = true }
tracing-subscriber = { version = "0.3", default-features = false, features = [
    "std",
    "fmt",
    "env-filter",
], optional = true }
chrono = "0.4.31"
console-subscriber = { version = "0.1", optional = true }
uuid = { version = "1.3", features = ["v4"] }
hashbrown = { version = "0.12", features = ["raw"] }
libc = { version = "0.2" }

# watchdog and self telemetry
memory-stats = { version = "1.0.0" }
cadence = "1.3.0"

[dependencies.windows]
features = [
    "Win32_Foundation",
    "Wdk_Storage_FileSystem",
    "Win32_System_IO",
    "Win32_System_WindowsProgramming",
]
version = "0.51.0"

[target.'cfg(not(target_arch = "x86"))'.dependencies]
simd-json = "0.13.8"

[target.'cfg(unix)'.dependencies]
nix = { version = "0.26.2", features = ["socket", "mman"] }
sendfd = { version = "0.4", features = ["tokio"] }

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3.9", features = ["securitybaseapi", "sddl"] }

[target.'cfg(windows_seh_wrapper)'.dependencies]
microseh = "0.1.1"

[dev-dependencies]
libc = { version = "0.2" }
tempfile = { version = "3.3" }
httpmock = "0.7.0"
datadog-remote-config = { path = "../remote-config", features = ["test"] }
datadog-trace-utils = { path = "../trace-utils", features = ["test-utils"] }
datadog-dynamic-configuration = { path = "../dynamic-configuration", features = ["test"] }

[lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = [
    'cfg(tokio_taskdump,windows_seh_wrapper)',
    'cfg(feature, values("logging"))',
] }
