[package]
name = "datadog-serverless-trace-mini-agent"
version = "0.11.0"
edition = "2021"

[dependencies]
log = "0.4"
env_logger = "0.10.0"
datadog-trace-mini-agent = { path = "../trace-mini-agent" }
datadog-trace-protobuf = { path = "../trace-protobuf" }
datadog-trace-utils = { path = "../trace-utils" }
dogstatsd = { path = "../dogstatsd" }
tokio = { version = "1", features = ["macros", "rt-multi-thread"]}
tokio-util = { version = "0.7", default-features = false }
tracing = { version = "0.1", default-features = false }
tracing-core = { version = "0.1", default-features = false }
tracing-subscriber = { version = "0.3", default-features = false, features = ["std", "registry", "fmt", "env-filter", "tracing-log"] }

[[bin]]
name = "datadog-serverless-trace-mini-agent"
bench = false
