[package]
name = "libdd-remote-config"
version = "1.0.0"
description = "A Rust client library that fetches and delivers dynamic configuration updates from Datadog's backend for multiple products at runtime."
repository = "https://github.com/DataDog/libdatadog/tree/main/libdd-remote-config"
edition.workspace = true
rust-version.workspace = true
license.workspace = true
authors.workspace = true

[features]
default = ["client"]
client = [
    "libdd-trace-protobuf",
    "hyper",
    "http-body-util",
    "http",
    "base64",
    "sha2",
    "uuid",
    "futures-util",
    "tokio",
    "tokio-util",
    "manual_future",
    "time",
    "tracing"
]
live-debugger = ["libdd-live-debugger"]
test = ["hyper/server", "hyper-util"]

[dependencies]
anyhow = { version = "1.0" }
libdd-common = { path = "../libdd-common"}
libdd-trace-protobuf = { path = "../libdd-trace-protobuf", optional = true }
libdd-live-debugger = { path = "../libdd-live-debugger", optional = true }
hyper = { workspace = true, optional = true }
http-body-util = {version = "0.1", optional = true }
http = { version = "1.0", optional = true }
base64 = { version = "0.22.1", optional = true }
sha2 = { version = "0.10", optional = true }
uuid = { version = "1.7.0", features = ["v4"], optional = true }
futures-util = { version = "0.3", optional = true }
tokio = { version = "1.36.0", optional = true }
tokio-util = { version = "0.7.10",  optional = true }
manual_future = { version = "0.1.1", optional = true }
time = { version = "0.3", features = ["parsing", "serde", "formatting"], optional = true }
tracing = { version = "0.1", default-features = false, optional = true }
serde = "1.0"
serde_json = { version = "1.0", features = ["raw_value"] }
serde_with = "3"

# Test feature
hyper-util = { workspace = true, features = ["service"], optional = true }

[dev-dependencies]
futures = "0.3"
libdd-remote-config = { path = ".", features = ["test"] }

[lib]
bench = false
