[package]
name = "ddtelemetry"
description = "Telemetry client allowing to send data as described in https://docs.datadoghq.com/tracing/configure_data_security/?tab=net#telemetry-collection"
edition.workspace = true
version.workspace = true
rust-version.workspace = true
license.workspace = true

[lib]
bench = false

[features]
default = []
tracing = ["tracing/std"]

[dependencies]
anyhow = { version = "1.0" }
ddcommon = { path = "../ddcommon" }
ddcommon-net1 = { path = "../ddcommon-net1" }
datadog-ddsketch = { path = "../ddsketch" }
base64 = "0.22"
futures = { version = "0.3", default-features = false }
http = "0.2"
hyper = { version = "0.14", features = ["client", "backports", "deprecated"], default-features = false }
lazy_static = "1.4"
pin-project = "1"

regex = { version = "1" }
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0" }
sys-info = { version = "0.9.0" }
tokio = { version = "1.23", features = ["sync", "io-util"] }
tokio-util = { version = "0.7", features = ["codec"] }

io-lifetimes = { version = "1.0" }
tracing = { version = "0.1", default-features = false }
uuid = { version = "1.3", features = ["v4"] }
hashbrown = { version = "0.14", features = ["raw"] }

[dev-dependencies]
tracing-subscriber = "0.3.18"
tokio = { version = "1.23", features = ["sync", "io-util", "rt-multi-thread"] }
