[package]
name = "libdd-trace-normalization"
version = "1.0.0"
authors = ["David Lee <david.lee@datadoghq.com>"]
description = "A duplicate of trace normalization implemented in the agent in https://github.com/DataDog/datadog-agent/blob/main/pkg/trace/traceutil/normalize.go"
homepage = "https://github.com/DataDog/libdatadog/tree/main/libdd-trace-normalization"
repository = "https://github.com/DataDog/libdatadog/tree/main/libdd-trace-normalization"
edition.workspace = true
rust-version.workspace = true
license.workspace = true

[lib]
bench = false

[dependencies]
anyhow = "1.0"
libdd-trace-protobuf = { version = "1.0.0", path = "../libdd-trace-protobuf" }
arbitrary = { version = "1.3", features = ["derive"], optional = true }

[features]
fuzzing = ["arbitrary"]

[dev-dependencies]
rand = "0.8.5"
duplicate = "0.4.1"
criterion = "0.5"

[[bench]]
name = "normalization_utils"
harness = false
path = "benches/normalization_utils.rs"
