# Copyright 2021-Present Datadog, Inc. https://www.datadoghq.com/
# SPDX-License-Identifier: Apache-2.0

[package]
name = "datadog-sidecar-ffi"
version = "0.0.1"
edition = "2021"

[lib]
crate-type = ["lib", "staticlib", "cdylib"]
bench = false

[dependencies]
libdd-telemetry = { path = "../libdd-telemetry" }
datadog-sidecar = { path = "../datadog-sidecar" }
datadog-trace-utils = { path = "../datadog-trace-utils" }
datadog-ipc = { path = "../datadog-ipc" }
libdd-common = { path = "../libdd-common" }
libdd-common-ffi = { path = "../libdd-common-ffi", default-features = false }
libdd-telemetry-ffi = { path = "../libdd-telemetry-ffi", default-features = false }
datadog-remote-config = { path = "../datadog-remote-config" }
datadog-live-debugger = { path = "../datadog-live-debugger" }
libdd-dogstatsd-client = { path = "../libdd-dogstatsd-client" }
libdd-tinybytes = { path = "../libdd-tinybytes", features = ["bytes_string"] }
paste = "1"
libc = "0.2"
tracing = { version = "0.1", default-features = false }
rmp-serde = "1.1.1"


[target.'cfg(windows)'.dependencies]
libdd-crashtracker-ffi = { path = "../libdd-crashtracker-ffi", features = ["collector", "collector_windows"] }

[dev-dependencies]
http = "1.0"
tempfile = { version = "3.3" }

[lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = [
    "cfg(coverage_nightly)",
    'cfg(feature, values("prefer_dynamic"))',
] }
