name: Coverage

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  coverage:
    runs-on: ubuntu-latest
    env:
      CARGO_TERM_COLOR: always
      CARGO_INCREMENTAL: 0
    steps:
      - name: Free Disk Space
        uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be # v1.3.1
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: false
          docker-images: true
          swap-storage: true
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # 4.2.2
      - name: Install Rust
        run: rustup install nightly-2024-12-16 && rustup default nightly-2024-12-16
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@2c41309d51ede152b6f2ee6bf3b71e6dc9a8b7df # 2.49.27
        with:
          tool: cargo-llvm-cov@0.6.13,nextest@0.9.96
      - name: Cache [rust]
        uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # 2.8.1
        with:
          cache-targets: true # cache build artifacts
          cache-bin: true # cache the ~/.cargo/bin directory
      - name: Generate code coverage (including doc tests)
        run: |
          cargo llvm-cov --all-features --workspace --no-report nextest
          cargo llvm-cov --all-features --workspace --no-report --doc
          cargo llvm-cov report --doctests --lcov --output-path lcov.info
          cargo clean
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # 5.5.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: lcov.info
          fail_ci_if_error: true
