name: Build and Release Serverless Agent
on:
  push:
    tags:
      - 'sls-**'

jobs:
  build-linux-musl:
    name: Build Linux Musl
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Protoc Binary
        shell: bash
        run: chmod +x ./scripts/install-protoc.sh && ./scripts/install-protoc.sh $HOME
      - name: Install musl dependencies
        run: rustup target add x86_64-unknown-linux-musl && sudo apt-get install musl-tools
      - name: Build project
        shell: bash
        run: cargo build --release -p datadog-serverless-trace-mini-agent --target x86_64-unknown-linux-musl
      - name: Upload artifacts for release step
        uses: actions/upload-artifact@v4
        with:
          name: datadog-serverless-agent-linux-amd64
          path: target/x86_64-unknown-linux-musl/release/datadog-serverless-trace-mini-agent
  build-windows:
    name: Build Windows
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Protoc Binary
        shell: bash
        run: chmod +x ./scripts/install-protoc.sh && ./scripts/install-protoc.sh $HOME
      - name: Build project
        shell: bash
        run: cargo build --release -p datadog-serverless-trace-mini-agent
      - name: Upload artifacts for release step
        uses: actions/upload-artifact@v4
        with:
          name: datadog-serverless-agent-windows-amd64
          path: target/release/datadog-serverless-trace-mini-agent.exe
  release:
    name: Zip and Release
    needs: [build-windows, build-linux-musl]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Download artifacts from build step
        uses: actions/download-artifact@v4
        with:
          path: target/release/binaries
      - name: UPX compress binaries
        run: |
          for file in target/release/binaries/*/*
          do
            chmod +x "$file"
            upx "$file" --lzma
          done
      - name: Zip binaries
        run: zip -r datadog-serverless-agent.zip ./*
        working-directory: target/release/binaries
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          generate_release_notes: true
          files: target/release/binaries/datadog-serverless-agent.zip
