name: Rustfmt Auto
on:
  pull_request:

jobs:
  rustfmt:
    runs-on: ubuntu-latest
    if: ${{ !startsWith(github.head_ref, 'mq-working-branch') }}
    permissions:
      contents: write
    steps:
      - name: Checkout sources
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # 4.2.2
        with:
          ref: ${{ github.head_ref }}
      - name: Install nightly-2026-02-08 toolchain and rustfmt
        run: rustup install nightly-2026-02-08 && rustup default nightly-2026-02-08 && rustup component add rustfmt
      - name: Run rustfmt and commit changes
        uses: mbrobbel/rustfmt-check@e7ac5685995bd39fb14f6c83fa6f10627e92e680 # master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
