name: 'Verify trace-protobuf'
on:
  pull_request:
    types: [ opened, synchronize, reopened ]

env:
  DATADOG_AGENT_TAG: "7f6d07c93ba087f23f80a3f0c2da4b1f3dc664d7"
  rust_version: "1.84.1"

jobs:
  verify-proto-files:
    name: "Verify trace-protobuf .proto files are in sync with datadog-agent"
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Checkout sources
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # 4.2.2
      - name: diff agent_payload.proto
        working-directory: libdd-trace-protobuf/src/pb
        run: |
          ../../../.github/workflows/diff-proto-files.sh --file agent_payload.proto --tag ${{ env.DATADOG_AGENT_TAG }}
      - name: diff tracer_payload.proto
        if: success() || failure()
        working-directory: libdd-trace-protobuf/src/pb
        run: |
          ../../../.github/workflows/diff-proto-files.sh --file tracer_payload.proto --tag ${{ env.DATADOG_AGENT_TAG }}
      - name: diff stats.proto
        if: success() || failure()
        working-directory: libdd-trace-protobuf/src/pb
        run: |
          ../../../.github/workflows/diff-proto-files.sh --file stats.proto --tag ${{ env.DATADOG_AGENT_TAG }}
      - name: diff span.proto
        if: success() || failure()
        working-directory: libdd-trace-protobuf/src/pb
        run: |
          ../../../.github/workflows/diff-proto-files.sh --file span.proto --tag ${{ env.DATADOG_AGENT_TAG }}
      - name: diff idx/tracer_payload.proto
        if: success() || failure()
        working-directory: libdd-trace-protobuf/src/pb
        run: |
          ../../../.github/workflows/diff-proto-files.sh --file idx/tracer_payload.proto --tag ${{ env.DATADOG_AGENT_TAG }}
      - name: diff idx/span.proto
        if: success() || failure()
        working-directory: libdd-trace-protobuf/src/pb
        run: |
          ../../../.github/workflows/diff-proto-files.sh --file idx/span.proto --tag ${{ env.DATADOG_AGENT_TAG }}
      - name: Cache
        uses: ./.github/actions/cache
        with:
          rust_version: ${{ env.rust_version }}
      - name: Install ${{ env.rust_version }} toolchain
        run: rustup install ${{ env.rust_version }} && rustup default ${{ env.rust_version }}
      - name: diff pb.rs
        working-directory: libdd-trace-protobuf
        run: |
          cargo build --features generate-protobuf
          git diff --exit-code -- src/pb.rs
